<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head}"></head>

<body>

<header th:insert="~{fragments/navbar :: guest-ul}"></header>

<main class="container-fluid">
    <div>
        <h1>All categories</h1>
    </div>

    <div class="article-container" th:with="locale=${@localeService.getLocale()}">


    </div>

</main>

<footer th:replace="~{fragments/general :: footer}"></footer>

<script>
    $(document).ready(()=>{

    setTimeout(function(){
       const select = $('#select-categories option');
       select.each(function(index){
       if(index!=0){
             console.log($(this).val());
             console.log($(this).text());
       }
    });

   }, 600);

});
</script>

</body>
</html>