<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Arh. Andrey Minev</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/exo2.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="icon" type="image/png" th:href="@{/images/corynth.png}"/>


    <script th:src="@{/js/lib/polyfills/polyfill.min.js}"></script>
    <script nomodule th:src="@{/js/lib/polyfills/babel-browser-build.js}"></script>
    <script nomodule th:src="@{/js/lib/polyfills/browser-es-module-loader.js}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.min.js"></script>-->
    <!--<script nomodule src="https://unpkg.com/browser-es-module-loader/dist/babel-browser-build.js"></script>-->
    <!--<script nomodule src="https://unpkg.com/browser-es-module-loader"></script>-->

    <script th:src="@{/js/lib/polyfills/nodelist-polyfill.js}"></script>
    <script th:src="@{/js/lib/polyfills/fetch.js}"></script>
    <script th:src="@{/js/lib/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/js/lib/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/lib/popper.min.js}"></script>
    <script th:src="@{/js/lib/bootstrap.min.js}"></script>
</head>
<body>
<footer th:fragment="footer">
    <div>
        &copy; CopyRight ENSAPLV Architecture and Urbanism 2019. All rights
        reserved.
    </div>
</footer>

</body>
</html>