<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<nav th:fragment="guest-ul" class="navbar navbar-expand-lg navbar-light bg-light nav-pad-v-0">
    <a class="navbar-brand" href="#" th:text="#{greeting}"></a>
    <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" th:with="locale=${@localeService.getLocale()}">
        <ul class="navbar-nav nav-between">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" th:text="#{home}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{|/${locale}/users/register|}" th:text="#{register}"></a>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{admin}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{|/${locale}/admin/articles/create|}"
                       th:text="#{article.create}"></a>
                    <a class="dropdown-item" th:href="@{|/${locale}/admin/listAll|}" th:text="#{list.articles}"></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{|/${locale}/admin/category/create|}"
                       th:text="#{category.create}"></a>
                    <a class="dropdown-item" th:href="@{|/${locale}/admin/category/list|}"
                       th:text="#{list.categories}"></a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{|/${locale}/users/login|}" th:text="#{login}"></a>
            </li>
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <div class="nav-link">
                        <span th:text="|#{hi}, |"></span>
                        <span th:text="${#authentication.principal.username}"></span>
                        <span sec:authorize="hasRole('ADMIN')"> (ADMIN)</span>
                        <span sec:authorize="!hasRole('ADMIN')"> (USER)</span>
                    </div>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn btn-link nav-link nav-link-white active" th:text="#{logout}"></button>
                    </form>
                </li>
            </th:block>


            <li class="nav-item dropdown">
                <div class="selected-lang">
                    <div th:text="#{${'lang.' + #strings.toUpperCase(locale) }}"></div>
                    <div class="dropdown-icon">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="18 15 12 9 6 15"></polyline></svg>
                        <!--<svg  viewBox="0 0 20 20">-->
                            <!--<path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>-->
                        <!--</svg>-->
                    </div>

                </div>


                <div class="dropdown-content">
                    <a th:each="countryCode : ${T(architecture.domain.CountryCodes).values()}"
                       th:href="@{${#request.getRequestURL()} + '?lang='
                            + ${#strings.toLowerCase(countryCode)}}" th:text="#{${'lang.' + countryCode }}">
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <select class="browser-default custom-select dropdown" id="select-categories">
                    <option value="555" th:text="#{all}"></option>
                </select>
            </li>

            <li class="nav-item dropdown">
                <div class="selected-lang">
                    <div>Project category</div>
                    <div class="dropdown-icon">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="18 15 12 9 6 15"></polyline></svg>
                    </div>

                </div>


                <div class="dropdown-content" id="select-categories2">

                </div>
            </li>
        </ul>

    </div>
    <script>
        function createScript(src) {
            console.log(src);
            const script = document.createElement('script');
            script.src = src;
            script.async = false;
            document.head.insertBefore(script, document.getElementById('first-script'));
        }

        function getAndroidVersion(userAgent) {
            const regex = /[A|a]ndroid\s+(\d+)/;
            const found = userAgent.match(regex);
            return found[1];
        }

        function msIeCheck() {
            const userAgent = window.navigator.userAgent;

            console.log(version);
            console.log(userAgent);
            if (userAgent.indexOf('Trident/') > 0 || userAgent.indexOf('MSIE ') > 0) {
                console.log('found IE');
                const scripts = [
                    '/js/lib/polyfills/polyfill.min.js',
                    '/js/lib/polyfills/babel-browser-build.js',
                    '/js/lib/polyfills/browser-es-module-loader.js',
                    '/js/lib/polyfills/nodelist-polyfill.js',
                    '/js/lib/polyfills/fetch.js'
                ];

                scripts.forEach(createScript);
                return;
            }
            if(userAgent.indexOf('Android') < 0){
                console.log('not Android');
                return;
            }else {
                const androidpoint = userAgent.indexOf('Android');
                const rest = userAgent.substring(androidpoint + 8, userAgent.length);
                const version = getAndroidVersion(userAgent);
                console.log('Android version -> ', version);
                if(version<5){
                    console.log('Android < 5');
                    const androidScripts = [
                        '/js/lib/polyfills/polyfill.min.js',
                        '/js/lib/polyfills/babel-browser-build.js'
                    ];
                    console.log('Before android scripts');
                    androidScripts.forEach(createScript);
                    console.log('After android scripts');
                    return;
                }else {
                    console.log('Android > 5');
                }

            }
            console.log('not IE');
        }
        msIeCheck();
    </script>

    <script type="module" th:src="@{/js/nav.js}"></script>
    <script nomodule th:src="@{/js/nav-android.js}"></script>

</nav>

</html>