<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="guest-ul" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:text="#{greeting}"></a>
    <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" th:text="#{home}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/create}">Create Article</a>
                    <a class="dropdown-item" th:href="@{/admin/listAll}">List all</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <select class="browser-default custom-select" id="locales">
                    <option selected value="" th:text="#{lang.change}"></option>
                    <option value="bg" th:text="#{lang.bg}"></option>
                    <option value="en" th:text="${#messages.msgOrNull('lang.'+ 'en')}"></option>
                    <option value="fr" th:text="${#messages.msgOrNull('lang.'+ 'fr')}"></option>
                    <option value="de" th:text="#{lang.de}"></option>
                    <option value="es" th:text="#{lang.es}"></option>
                </select>
            </li>
            <li class="nav-item dropdown">
                <select class="browser-default custom-select" id="categories">
                    <option value="all" th:text="#{all}"></option>
                </select>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" th:placeholder="#{search}" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{search}"></button>
        </form>
    </div>

    <script type="text/javascript" th:src="@{/js/nav.js}"></script>
    
</nav>
</body>
</html>