<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<nav th:fragment="guest-ul" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:text="#{greeting}"></a>
    <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" th:with="locale=${@localeService.getLocale()}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" th:text="#{home}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{|/${locale}/users/register|}">Register</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{|/${locale}/admin/articles/create|}">Create Article</a>
                    <a class="dropdown-item" th:href="@{|/${locale}/admin/listAll|}">List all</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{|/${locale}/admin/category/create|}">Create Category</a>
                    <a class="dropdown-item" th:href="@{|/${locale}/admin/category/list|}">List Categories</a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{|/${locale}/users/login|}">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn btn-link nav-link nav-link-white active">Logout</button>
                </form>
            </li>

            <li class="nav-item dropdown">
                <select class="browser-default custom-select" id="select-locales">
                    <option selected value="" th:text="#{lang.change}"></option>
                    <option th:each="countryCode : ${T(architecture.domain.CountryCodes).values()}"
                            th:value="${countryCode}"
                            th:text="#{${'lang.' + countryCode }}">
                    </option>
                </select>
            </li>
            <li class="nav-item dropdown">
                <select class="browser-default custom-select" id="select-categories">
                    <option value="all" th:text="#{all}"></option>
                </select>
            </li>
        </ul>

    </div>

    <script type="module" th:src="@{/js/nav.js}"></script>

</nav>

</html>