.nav-pad-v-0{
    padding: 0 10px;
    min-height: 60px;
    align-items: stretch;
}

.nav-between {
    justify-content: space-between;
    width: 100%;
}

/* mobile dropdown*/
.dropdown-content{
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    display: block;
}

.expanded-dropdown .dropdown-content {
    display: block;
}

.dropdown-content {
    position: initial;
}

.dropdown-icon {
    display: block;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
    -moz-transform: rotate(180deg); /* Firefox */
    transform: rotate(180deg);

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.expanded-dropdown div.dropdown-icon{
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    -o-transform: rotate(360deg); /* Opera */
    -moz-transform: rotate(360deg); /* Firefox */
    transform: rotate(360deg);

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.selected-lang {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;


    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.selected-item {
    background-color: #ffe8a1;
}

.selected-lang svg {
    width: 30px;
    height: 30px;
}


@media (min-width: 550px) {

    /*dropdown*/
    .dropdown-content{
        position: absolute;
        min-width: 160px;
        z-index: 1;
    }

    .expanded-dropdown .dropdown-content {
        display: none;
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #c6c8ca;
    }

    .dropdown-icon{
        display: none;
    }








}