.nav-pad-v-0{
    padding: 0 10px;
    min-height: 60px;
    align-items: stretch;
}

.nav-between {
    justify-content: space-between;
    width: 100%;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
}

.dropdown-content a:hover {
    background-color: #c6c8ca;
}

.dropdown-icon{
    display: none;
    transform: rotate(180deg);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.selected-lang{
    display: flex;
    justify-content: space-between;
}

.selected-item{
    background-color: #ffe8a1;
}


.selected-lang svg{
    width: 30px;
    height: 30px;
}

@media (max-width: 550px) {

    .expanded-dropdown .dropdown-icon{
        transform: rotate(360deg);
    }

    .dropdown .dropdown-content, .dropdown:hover .dropdown-content{
        display: none;
    }

    .expanded-dropdown:hover .dropdown-content{
        display: block;
    }


    .dropdown-content{
        position: initial;
    }

    .dropdown-icon{
        display: block;
    }
}