body {
    font-family: 'Exo 2', sans-serif;
    background-color: palegoldenrod;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
}

.center-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-main form{
    width: 100%;
}

.article-centered {
    width: 50%;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #fdfdfe;
    padding: 0 20px 0 20px;
}

.article-container {
    text-align: center;
}

.article-centered div div {
    border-bottom: 1px solid #171a1d;
}

img {
    max-width: 100%;
}

.nav-between {
    justify-content: space-between;
    width: 100%;
}

.wrapper-login {
    margin: auto 30%;
}

.wrapper-80 {
    margin: auto 10%;
}

.wrapper-25 {
    margin: auto 37.5%;
}

.two-fields {
    display: flex;
    justify-content: space-between;
}

.title{
    text-align: center;
    font-size: 2rem;
    margin: 1rem auto;
    font-weight: bold;
}

.two-fields > div {
    width: 45%;
}

@media (max-width: 550px) {

    .wrapper-login, .wrapper-80, .wrapper-25 {
        margin: auto 5%;
    }

    .wrapper-login button, .wrapper-80 button, .wrapper-25 button{
        width: 100%;
    }

    .two-fields {
        display: block;
    }

    .two-fields > div {
        width: 100%;
    }
}