<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head}"></head>

<body>

<header th:insert="~{fragments/navbar :: guest-ul}"></header>

<main>
    <div>
        <h1>My site will be here</h1>
        <p>L'architecture est le jeu savant, correct et magnifique des volumes...</p>
    </div>
    <form class="mx-auto w-25" th:method="post" th:action="@{/admin/articles/addLang}" th:object="${articleBinding}">

        <div class="form-group" th:classappend="${#fields.hasErrors('country')} ? 'text-danger'">
            <label for="lang" th:text="#{lang.country}"></label>

            <select name="country" class="form-control" id="lang" th:field="${articleBinding.country}">
                <option th:each="countryCode : ${T(architecture.domain.CountryCodes).values()}"
                        th:value="${countryCode}"
                        th:text="${#messages.msgOrNull('lang.'+ #strings.toLowerCase(countryCode))}"
                        th:selected="${#strings.equals(articleBinding.getCountry(), countryCode) ? true : false}">
                </option>
            </select>

            <small id="langSmall"
                   th:each="error : ${#fields.errors('country')}" th:utext="${error +'<br>'}">
            </small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('title')} ? 'text-danger'">
            <label for="title" th:text="#{article.title}"></label>
            <input type="text" class="form-control"
                   th:field="*{title}" th:value="${articleBinding.title}"
                   id="title" th:placeholder="#{article.title}+'...'" name="title"
                   required pattern="^.{2,}$" title="Please enter at least 2 characters">

            <small id="usernameHelp"
                   th:each="error : ${#fields.errors('title')}" th:utext="${error +'<br>'}">
            </small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('content')} ? 'text-danger'">
            <label for="content" th:text="#{article.content}"></label>
            <input type="text" class="form-control"
                   th:field="*{content}" th:value="${articleBinding.content}"
                   id="content" th:placeholder="#{article.content}" name="content"
                   required pattern="^.{2,}$" title="Please enter at least 2 characters">

            <small id="usernameHelp2"
                   th:each="error : ${#fields.errors('content')}" th:utext="${error +'<br>'}">
            </small>
        </div>

        <div class="button-holder mt-4 d-flex justify-content-center">
            <input type="hidden" name="articleId" th:value="${#strings.arraySplit(#request.getRequestURI(),'/')[4]}"/>
            <button type="submit" class="btn text-white">Add Language</button>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/general :: footer}"></footer>

</body>
</html>