<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head}"></head>

<body>

<header th:insert="~{/fragments/navbar :: guest-ul}"></header>

<main>

    <form class="mx-auto w-25" th:method="put" th:action="@{/admin/category/edit/{categoryId}(categoryId=${categoryEditModel.id})}" th:object="${categoryEditModel}">

        <div class="form-group" th:each="countryCode, stat :*{localNames}">
            <label th:text="${#messages.msgOrNull('lang.'+ #strings.toLowerCase(countryCode.key))}"></label>
            <input type="text" class="form-control"
                   th:field="*{localNames[__${countryCode.key}__]}">
        </div>
        <input type="hidden" th:field="*{id}" th:value="${categoryEditModel.id}">

        <div class="button-holder mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-info">Edit Category</button>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/general :: footer}"></footer>

</body>
</html>