<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head}"></head>

<body>

<header th:insert="~{/fragments/navbar :: guest-ul}"></header>

<main>

    <form class="mx-auto w-25" th:method="put" th:action="@{/admin/category/edit/{categoryId}(categoryId=${categoryEditModel.id})}" th:object="${categoryEditModel}">

        <div class="form-group" >
            <label for="bg" th:text="#{lang.bg}"></label>
            <input type="text" class="form-control"
                   th:value="${categoryEditModel.localNames.get(T(architecture.domain.CountryCodes).BG)}"
                   id="bg" name="bg">
        </div>

        <div class="form-group" >
            <label for="fr" th:text="#{lang.fr}"></label>
            <input type="text" class="form-control"
                   th:value="${categoryEditModel.localNames.get(T(architecture.domain.CountryCodes).FR)}"
                   id="fr" name="fr">
        </div>

        <div class="form-group" >
            <label for="de" th:text="#{lang.de}"></label>
            <input type="text" class="form-control"
                   th:value="${categoryEditModel.localNames.get(T(architecture.domain.CountryCodes).DE)}"
                   id="de" name="de">
        </div>

        <div class="button-holder mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-info">Edit Category</button>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/general :: footer}"></footer>

</body>
</html>