<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head}"></head>

<body>

<header th:insert="~{/fragments/navbar :: guest-ul}"></header>

<main class="container-fluid">
    <div>
        <h1>All articles</h1>
        <p>L'architecture c'est le jeu savant, correct et magnifique des volumes...</p>
    </div>

    <div>
        <div th:each="article: ${allArticles}">
            <div>
                <p th:text="|ArticleId: ${article.id} Created: ${article.date}|"></p>
            </div>
            <div>
                <div th:each="local : ${article.localContent}">
                    <p th:text="${local.key}"></p>
                    <p th:text="${local.value.title}"></p>
                    <p th:text="${local.value.content}"></p>
                </div>
            </div>

        </div>
    </div>

</main>

<footer th:replace="~{fragments/general :: footer}"></footer>

</body>
</html>