<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head}"></head>

<body>

<header th:insert="~{fragments/navbar :: guest-ul}"></header>

<main class="container-fluid">
    <div>
        <h1 th:text="#{article.all}"></h1>
    </div>

    <div class="article-container">
        <div class="article-centered" th:each="article: ${articles}">
            <div>
                <p th:text="|ArticleId: ${article.id} Created: ${article.date}|"></p>
            </div>
            <div>
                <img th:src="@{${article.mainImage != null ? article.mainImage : '/images/default.jpg'}}" alt="">
            </div>
            <div>
                <div>
                    <p th:text="${article.localisedContent.title}"></p>
                    <p th:text="${article.localisedContent.content}"></p>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="~{fragments/general :: footer}"></footer>

</body>
</html>